.contact tr{
  height: 7rem;
}

.contact .text {
  width: 480px;
}

.contact th {
  width: 150px;
  text-align: right;
  padding-right: 10px;
}

.bottom {
  padding: 10px;
  color: white;
  font-size: 3rem;
  background-color: #008B8B;

}

.bottom:hover {
  opacity: 0.5;
}
