html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;

}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;



}

/* ここから */
header {
  height: 50px;
  background-color: #2b2b2b;

}

header ul {
  margin: 0;
  padding: 0;

}

header ul a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 15px;
}

header li {

  list-style-type: none;

  width: auto;
}

header .left {
  float: left;
}

header .right {
  float: right;
}
header ul:after {
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}
/* ここまでがheader部分の実装 */

.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
  width: 13%;
  position: relative;
  top: 150px;

}

.about h1{
/* About Achieve部分の実装 */
  font-size: 1.5rem;
}

.about p {
  font-size: 0.8rem;
}
/* ここから */
.function {
  background-color: #D3D3D3;

}

.function-images {
  width: 906px;
  margin: 0 auto;


}

.function h1 {
  padding-top: 50px;
}

.function-image {
  float: left;
  padding: 50px;


}
/* ここまでがfunction部分の実装 */

footer {
/* footer部分の実装 */
background-color: #283a4b;
height: 70px;
font-size: 0.8rem;

}

footer .ppp{
  padding-top: 20px;

}
footer p {
  margin: 0;

}
